
/*
 * FIXME:
 *	- Fix sidebar gap.
 *	- Set full width clickable area on sidebar.
 * TODO: Split css, consistent (global?) color scheme.
 * TODO: Change TOC style?
 * TODO: Overhaul fonts (remove shadows)
 * TODO: Overhaul icons
 */

/*******************************************************************************
 * Top
 ******************************************************************************/

#top {
	position: relative;
	/* To avoid shadow glitches over sidenav */
	z-index: 1;
	background: #FFFFFF;
	box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.1);
}

#titlearea {
	padding: 0;
	margin: 0;
	width: 100%;
	border-bottom: none;
}

/*
 * Tabs
 */

/* Top line separator - separates from titlearea and upper tabs */
.tabs, .tabs2, .tabs3 {
	border-top: solid 1px #BFC9DC;
	background: #C9D4E8;
	width: 100%;
	z-index: 2;
	font-size: 13px;
	font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
}

.tablist li.current a {
	background: #415D96;
	color: #fff;
	text-shadow: none;
}

.tablist {
	margin: 0;
	padding: 0;
	display: table;
}

.tablist li {
	float: left;
	display: table-cell;
	background: #C9D4E8;
	/* Override doxygen's default line height (36px for *all* lines) */
	line-height: inherit !important;
	list-style: none;
}

/* Decrease line height down the hierarchy */
.tabs {
	line-height: 36px;
}

.tabs2 {
	line-height: 30px;
}

.tabs3 {
	line-height: 26px;
}

.tablist a {
	display: block;
	padding: 0 20px;
	font-weight: bold;
	background-image: none;
	color: #283A5D;
	text-shadow: none;
	text-decoration: none;
	outline: none;
}

.tablist a:hover {
	background: #B5BED0;
	color: #fff;
	text-shadow: none;
	text-decoration: none;
}

a {
	color: #3D578C;
	font-weight: normal;
	text-decoration: none;
}

#MSearchBox .left {
	display: block;
	position: absolute;
	left: 10px;
	width: 20px;
	height: 19px;
	background: white;
	/* background-position: right; */
	box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
	border-radius: 4px 0 0 4px;
	border-top: 1px solid #C9D4E8;
	border-left: 1px solid #C9D4E8;
	border-bottom: 1px solid #C9D4E8;
}

#MSearchField {
	display: block;
	position: absolute;
	height: 17px;
	background: white;
	border: none;
	width: 111px;
	margin-left: 20px;
	padding-left: 4px;
	color: #909090;
	outline: none;
	font: 9pt Arial, Verdana, sans-serif;
	box-shadow: inset 0 12px 2px -10px rgba(0, 0, 0, 0.1);
	border-radius: 0;
	border-top: 1px solid #C9D4E8;
	border-bottom: 1px solid #C9D4E8;
	top: -1px;
}

#MSearchBox .right {
	display: block;
	position: absolute;
	right: 10px;
	top: 0px;
	width: 20px;
	height: 19px;
	background: white;
	/* background-position: left; */
	box-shadow: inset 0 12px 2px -10px rgba(0, 0, 0, 0.1);
	border-radius: 0 4px 4px 0;
	border-top: 1px solid #C9D4E8;
	border-right: 1px solid #C9D4E8;
	border-bottom: 1px solid #C9D4E8;
}

#MSearchSelectWindow {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 4px;
	border-radius: 4px;
	border: none;
	background-color: #FFFFFF;
	z-index: 1;
	-moz-border-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
	/* Same as #top but with horizontal and spread. h-shadow and v-shadow lower
	 * to compensate spread.
	 */
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

#MSearchResultsWindow {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	border: none;
	background-color: #FFFFFF;
	border-radius: 4px;
	/* Same as #top but with horizontal and spread. h-shadow and v-shadow lower
	 * to compensate spread.
	 */
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
	z-index: 1;
	padding: 4px;
}

/*******************************************************************************
 * Side nav
 ******************************************************************************/

#side-nav {
	/* Side padding to compensate for resize handle width */
	padding: 0 3px;
	margin: 0;
	display: block;
	left: 0;
	width: 250px;
	background-color: #F9FAFC;
	border-right: solid 1px #ECEDEF;
}

#nav-tree-contents {
	margin: 6px 0px 0px 0px;
	/* Handle scrollbar with right-aligned drop-down arrows */
	position: relative;
}

#nav-tree {
	background-image: none;
	-webkit-overflow-scrolling: touch;
}

/* Avoid overriding .selected background */
#nav-tree .item:hover:not(.selected) {
	background: #E0E1E2;
}

#nav-tree .selected {
	background: #415D96;
	color: #fff;
	text-shadow: none;
}

#nav-tree img {
	margin: 0px;
	/* Increase (horizontal) clickable area */
	padding: 0 10px;
	border: 0px;
	vertical-align: middle;
}

#nav-tree ul {
	list-style: none outside none;
}

#nav-tree .children_ul {
	margin: 0;
	padding: 0;
	border: none;
	/* See https://material.google.com/patterns/navigation.html#navigation-patterns */
}

.ui-resizable-e {
	background: none;
	cursor: e-resize;
	height: 100%;
	/* Just above the border of sidenav */
	right: -3px;
	top: 0;
	width: 6px;
}

/*******************************************************************************
 * Doc content
 ******************************************************************************/

div.header {
	background-image: none;
	background-color: #F9FAFC;
	margin: 0;
	border-bottom: 1px solid #EAEDF2;
}

div.headertitle {
	padding: 5px 5px 5px 16px;
}

div.contents {
	margin-top: 10px;
	margin-left: 18px;
	margin-right: 8px;
}

#doc-content {
	overflow: auto;
	display: block;
	padding: 0;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}

.memitem {
	padding: 0;
	margin-bottom: 10px;
	margin-right: 5px;
	-webkit-transition: box-shadow 0.5s linear;
	-moz-transition: box-shadow 0.5s linear;
	-ms-transition: box-shadow 0.5s linear;
	-o-transition: box-shadow 0.5s linear;
	transition: box-shadow 0.5s linear;
	display: table !important;
	width: 100%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.memproto, dl.reflist dt {
	border: none;
	border-radius: 0;
	padding: 5px 6px;
	color: #253555;
	font-weight: bold;
	text-shadow: none;
	background-image: none;
	background-color: #E2E8F2;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.memdoc, dl.reflist dd {
	border: none;
	border-radius: 0;
	padding: 6px 10px 2px 10px;
	background-color: #FBFCFD;
	border-top-width: 0;
	background-image: none;
	background-color: #FFFFFF;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

div.toc {
	padding: 14px 25px;
	background-color: #FBFCFD;
	border: 1px solid #CBD0D9;
	border-radius: 4px 4px 4px 4px;
	float: right;
	height: auto;
	margin: 0 8px 10px 10px;
	width: 200px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

/*******************************************************************************
 * Footer
 ******************************************************************************/

.navpath ul {
	font-size: 11px;
	/* Remove glossy background picture */
	background-image: none;
	background-color: #C9D4E8;
	height: 30px;
	line-height: 30px;
	color: #8AA0CC;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border-top: solid 1px #BFC9DC
}

.navpath li {
	/* Remove separator png image */
	background-image: none;
	background-color: #C9D4E8;
	/* Override Doxygen's default */
	padding: 0;
}

.navelem:not(:first-child)::before {
	content: "";

	border-top: 15px solid #C9D4E8;
	/* Separator color */
	border-left: 10px solid #adb7c9;
	border-bottom: 15px solid #C9D4E8;

	position: absolute;
	left: -5px;
	top: 0;
	z-index: 1;
	/* Separator color gap */
	margin-left: 1px;

	/* Does not prevent clicking through */
	pointer-events: none;
}

.navelem {
	position: relative;
	list-style-type: none;
	display: inline;
}

.navelem:hover::before {
	border-top-color: #a9b5cb;
	border-bottom-color: #a9b5cb;
}

.navpath li.navelem a:hover { color: #fff; text-shadow: none }
.navelem:hover { background-color: #a9b5cb; }

.navelem:hover::after { border-left-color: #a9b5cb !important; }

/*
 * The last element in this list is always the footer, so last-child doesn't
 * work here.
 */
.navelem:not(:nth-last-child(2))::after {
	content: "";

	border-top: 15px solid transparent;
	/* Navelem foreground color */
	border-left: 10px solid #C9D4E8;
	border-bottom: 15px solid transparent;

	position: absolute;
	right: -5px;
	top: 0;
	z-index: 2;

	/* Does not prevent clicking through */
	pointer-events: none;
}

.navpath li.navelem a {
	height: 32px;
	display: block;
	outline: none;
	color: #283A5D;
	font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
	text-shadow: none;
	text-decoration: none;

	/* Padding here rather than li to increase clickable area */
	padding: 0 15px;
}

